body {
  font-family: Arial, sans-serif;
  margin: 20px;
  
  background-color: lightblue;
}

h2, h6 {
  margin-top: 5px !important;
  margin-bottom: 2px !important;
}
.centered {
  text-align: center;
}

.row {
  display: flex;
  gap: 20px;
}

.col {
  flex: 1;
  padding: 15px;
  border: 1px solid black;
}
