body {
  font-family: Arial, sans-serif;
  margin: 20px;
  
  background-color: lightblue;
}


.centered {
  text-align: center;
}

.row {
  display: flex;
  gap: 20px;
   align-items: flex-start;
}

.col {
  flex: 1;
  padding: 15px;
  border: 1px solid black;
}

.col h5  { margin: 5px 0; /* top/bottom = 5px, left/right = 0 */ 
         padding: 0; /* remove any padding browsers might apply */ 
         
         }

