body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-image: url('1000_F_1538694737_hRr8EEh8cRcOznvWittWBXWRmWcJF6vB.jpg'); /* your image file */
  background-size: cover;      /* fills the screen */
  background-position: center; /* centers the image */
  background-repeat: no-repeat;

  
}

.row {
  display: flex;
  gap: 20px;
}

.col {
  flex: 1;
  padding: 15px;
  border: 1px solid black;
}
